.main_div1{
    background-color: #000000e5;
    display: flex;
 }
 .main_h1_1{
     color: #fff;
 } 
 .text_main{
padding-left: 155px;
}
.main_h1_1{
font-size: 34px;
}
.main_h1_p{
font-size: 40px;
color: #fff;
}
.main_h1_p:hover{
    font-size: 40px;
    color: #fff;
   
    }
    .main_p2{
        padding-left: 150px;
        padding-top: 20px;
    }
    .main_p2_2{
        color: #fff;
        font-size: 20px;
    }
    .main_p2_2:hover{
        color: #fff;
       
    }
    .main_textlar{
        padding-top: 100px;
    }
    .button1{
        height: 40px;
        width: 200px;
        background: #E8AA31;
        border: #E8AA31;
        color: #fff;
        box-shadow: 0 1px 8px 0 #e8ab31c1, 0 6px 5px 0 #E8AA31;
        border-radius: 2px;
    }
    .button1:hover{
        height: 40px;
        width: 200px;
        background: #E8AA31;
        border: #E8AA31;
        color: #ffcbcb;
        box-shadow: 0 1px 8px 0 #e1a62ead, 0 6px 5px 0 #e1a62ead;
        border-radius: 2px;
    }
    .section_button{
        padding-left: 159px;
        padding-top: 100px;
    }
    .main_img1{
        height: 50px;
    }
    .main_img{
        padding-left: 150px;
        padding-top: 20px;
    }
    .div_rasm{
        padding-top: 30px;
        padding-left: 95px;
    }
    .rasm{
        height: 500px;
    } 
    .buyurtma{
        justify-content: center;
    }
    .bulm_p{
        color: #fff;
    }
    .bulm_p:hover{
        color: #fff;
    }
    
    .box{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-left: 10%;
        justify-content: center;
        width: 80%;
        margin-top: 100px;
    }
    .minebox {
        width: 30%;
        height: 270px;
        background-color: #fff;
        box-shadow: 0 1px 8px 0 #00000068, 0 6px 5px 0 #00000068;
    }
    .oraliq{
        padding-top: 100px;
        padding-left: 210px;
    }

         