.nav_div1{
    display: flex;
}
.nav_img1{
    height: 60px;
    padding-left: 128px;
    padding-top: 20px;
}
.search{
    height: 40px;
    width: 300px;
   background-color: #e2dede;
   border-radius: 5px;
}
.search1{
    padding-top: 20px;
    padding-left: 100px;
}
p{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    list-style: none;
}
p:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.566);
    padding-left: 10px;
    padding-top: 10px;
    list-style: none;
}

.manzil{
    display: flex;
    padding-left: 250px;
    padding-top: 20px;
}
.tell{
    padding-left: 35px;
    padding-top: 15px;
}
.tel{
    font-size: 20px;
    padding-top: 11px;
    padding-left: 10px;
    color: #000000;
}
.h{
    color: #E8AA31;
    font-size: 20px;

}
.love{
    height: 20px;
    padding-top: 40px;
    padding-left: 46px;
    display: flex;
    gap: 20px;
}
.y{
height: 26px;
}
.zakas{
    color: #E8AA31;
}
.zakaz{
    padding-top: 14px;
}